img{
    width: 30%;
    float: left;
    margin: 1.6%;
}
p{
    font-size: 2vw;
    font-weight: 300;
    border-bottom: 1.5px solid #f1f1f1;
    width: 30%;
    margin-bottom: 1.6%;
    margin-left: 1.6%;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
